:root {
    --primarycolor: #a33939;
    --secondarycolor: rgb(255, 110, 110);
    --backcolor: #f4f4f4;
    --maincolor: white;
    --maintwo: grey;
    --primaryhover: rgb(255, 110, 110);
    --tertiarycolor: rgb(255, 110, 110);
    --tertiaryhover:  rgb(52, 165, 127);
}

@font-face {
    font-family: Mont;
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: Mont;
}

header {
    background-color: var(--primarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 150px;
    position: fixed;
    top: 0;
    box-shadow: 0 2.5px 10px rgba(114, 114, 114, 0.735);
    width: 100vw;
    font-size: 30px;
}

header>div {
    flex: 1;
}

#logo {
    margin: 10px;
}

header :nth-child(2) {
    text-align: center;
}

header :nth-child(3) {
    text-align: right;
}

h1 {
    margin: 0;
    padding: 10px;
}

a {
    scroll-margin-top: 150px;
}

a>p {
    margin: 0;
    white-space: nowrap;
    padding: 10px;
}

p {
    font-size: 15px;
    margin: 10px;
}

h2 {
    color: var(--maincolor);
}

nav>ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    padding-right: 15px;
}

ul {
    padding: 0;
}

li {
    margin: 5px;
    border-radius: 5px;
}

li:hover {
    background-color: var(--secondarycolor);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

main {
    margin-top: 150px;
    /* border: #ffb7b7 solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    justify-content: center;
    background-color: var(--maincolor);
}

#schedule {
    display: flex;
}

.month {
    margin: 10px 20px;
    padding: 0 10px;
}

.month>p {
    font-size: 40px;
}

#month1 {
    margin-right: 75px;
}

.border {
    border-top: rgba(0, 0, 0, 0.308) solid;
    width: 33%;
}

h3 {
    font-size: 65px;
    margin: 0;
    text-align: center;
}

h4 {
    font-size: 55px;
    margin: 0;
}









footer {
    background-color: var(--secondarycolor);
    color: var(--maincolor);
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

@media screen and (max-width: 1235px) {
    body {}

    header {
        flex-direction: column;
        height: 150px;
        font-size: 20px;
    }

    nav {
        margin-top: -20px;
    }

    h4 {
        font-size: 4.45vw;
    }

    .month>p {
        font-size: 3.25vw;
    }

    #month1 {
        margin-right: 6vw;
    }
}

@media screen and (max-width: 600px) {
    h4 {
        font-size: 26.75px;
    }

    .month>p {
        font-size: 19.5px;
    }

    h2 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 370px) {
    header {
        height: 265px;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        margin: -5px;
    }

    main {
        margin-top: 265px;
    }

    #schedule {
        flex-direction: column;
    }

    h2 {
        font-size: 14.8px;
    }
}